* {
    font-family: 'Titillium Web', sans-serif;
}

.page-title {
    text-align: center;
}

.sort-button {
    text-align: center;
    cursor: pointer;
}

.sort-button:hover {
    color: blue;
}

.button-container {
    text-align: center;
}

.button {
    margin: 5px;
}

.detail-key {
    float: right;
}

.message {
    text-align: center;
}